<div class="row">
    <div class="col-xs-12">
        <h1>Username: {{ user.username }}</h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group" appDropdown>
                <button type="button" class="btn btn-primary dropdown-toggle">
                    Manage User <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a style="cursor: pointer; margin-bottom: 15px;" (click)="onUpdateRole()">Update User Role</a>
                    </li>
                    <li><a style="cursor: pointer;" (click)="onDeleteUser()">Delete User</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        ID: {{ user.id }}
    </div>
    <div class="col-xs-12">
        Role: {{ user.role }}
    </div>
</div>